/* CSS Document */
form.inprocess {
  opacity: .5;
}

.field-wrapper label {
  width: 30%;
  display: inline-block;
  *display: inline;
  vertical-align: top;
}

.field-wrapper.checkbox,
.checkbox .field-wrapper,
.checkgroup .field-wrapper {
  margin-left: 32%;
}

.field-wrapper.hidden {
  display: none;
}

.field-wrapper.checkbox label,
.checkbox .field-wrapper label {
  width: auto;
  vertical-align: middle;
  margin-left: 12px;
}

.field-wrapper input[type=text],
.field-wrapper input[type=file],
.field-wrapper textarea {
  width: 59%;
  border-radius: 0px;
  height: 38px;
  line-height: 40px;
  border: solid 1px #999;
  font-family: "proxima_nova_rgregular","Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #777;
  padding: 0 5%;
}

.field-wrapper input[type=file] {
  padding: 10px 9% 0 1%;
  line-height: normal;
}

.field-wrapper textarea {
  height: 76px;
  min-height: 75px;
  border: solid 1px #999;
  font-family: "proxima_nova_rgregular","Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #777;
  padding: 5%;
  resize: none;
  width: 90%;
}

.checkbox label:before,
.checkgroup label:before {
  content: ' ';
  display: block;
  height: 22px;
  width: 20px;
  margin-left: -25px;
  margin-bottom: -22px;
  background: url("checkbox_btn.png");
  padding-right: 5px;
  background-repeat: no-repeat;
}

.checkgroup label {
  padding-bottom: 10px;
  margin-left: 12px;
}

.checkgroup .field-wrapper [type=checkbox] {
  /*visibility:visible*/
}

.checkbox label:hover:before,
.checkgroup label:hover:before {
  background-position: 0 -22px;
}

.checkbox .main-label,
.checkgroup .main-label,
.checkbox label[for],
.checkgroup label[for] {
  position: relative;
  left: -47%;
  float: none;
}

.checkbox .main-label:before,
.checkgroup .main-label:before,
.checkbox label[for]:before,
.checkgroup label[for]:before {
  content: none;
}

input:checked + label:before,
input:checked + label:hover:before,
.checkgroup label.on:before,
.checkgroup label.on:hover:before {
  background-position: 0 -44px;
}

.field-wrapper [type=checkbox] {
  visibility: hidden;
  width: 0;
  position: absolute;
}

.field-wrapper select {
  width: 69%;
  padding: 0 5%;
  height: 38px;
  border-radius: 0px;
  border: 1px solid #999;
}

.field-wrapper input[type=text].LV_invalid_field,
.field-wrapper select.LV_invalid_field {
  border: 1px solid #CC0000;
}

.field-wrapper {
  margin: 5px 3px 3px 0px;
}

.field-wrapper.checkbox.outdent,
.checkbox.outdent .field-wrapper {
  margin-left: 0;
}

.checkgroup .inner-field {
  display: block;
}

.field-wrapper input[type=text].LV_invalid_field,
.field-wrapper select.LV_invalid_field,
.field-wrapper textarea.LV_invalid_field {
  border: 1px dotted #CC0000 !important;
}

.checkgroup.LV_invalid_field {
  border: none !important;
}

.checkgroup.LV_invalid_field .inner-field {
  border: 1px dotted #CC0000;
  padding: 5px;
}

.LV_invalid {
  display: block;
  width: 28px;
  overflow: hidden;
  height: 28px;
  background: url("input_icon.png");
  background-position: 0 -28px;
  text-indent: -200px;
  display: inline-block;
}

.LV_validation_message.LV_invalid {
  margin-left: -32px;
  vertical-align: middle;
}

select + .LV_validation_message.LV_invalid {
  margin-left: -50px;
}

.select-box .LV_validation_message.LV_invalid {
  z-index: 100;
  position: relative;
  top: -13px;
  margin-left: -72px;
}

.checkgroup .field-wrapper label,
.area .field-wrapper label {
  width: 100%;
}
.radio-option .field-wrapper label {
  width: 100%;
}

.area .field-wrapper label {
  margin-bottom: 15px;
}

.validation-message {
  font-size: 150%;
  color: red;
  padding: 10px;
  border: 1px dotted red;
  margin-bottom: 20px;
}

input[type=submit] {
  height: 40px;
  line-height: 40px;
  font-family: "proxima_nova_rgregular","Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #FFF;
  background: url("white_right_arrow.png") no-repeat 15px 14px #E7313B;
  border: solid 1px #fc921c;
  outline: none;
  padding: 0 15px 0 30px;
}

/*CSS for jQuery Selectbox plugin*/
.sbHolder {
  width: 70%;
  float: none;
  background: none;
  display: inline-block;
  height: auto;
  border: solid 1px #999;
  overflow: hidden;
  background-color: white;
}

.sbSelector {
  display: block;
  height: 36px;
  left: 0;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  text-indent: 10px;
  top: 0;
  margin-right: 45px;
  margin-left: 20px;
  padding: 0;
  border: 0;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
  color: #666666;
  outline: none;
  text-decoration: none;
}

.sbToggle {
  background: url("select_arrow.png");
  height: 34px;
  position: relative;
  width: 38px;
  z-index: 1;
  float: right;
  margin-bottom: -34px;
}

.sbHolderDisabled {
  background-color: #3C3C3C;
  border: solid 1px #515151;
}

.sbOptions {
  list-style: none !important;
  left: -1px;
  margin: 0;
  position: absolute;
  top: 0 !important;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  border-top: 1px dashed #666;
  padding: 0 0 20px 0;
  position: relative;
  line-height: 20px;
}

.sbOptions li {
  padding: 0 7px;
}

.sbOptions a {
  border-bottom: dotted 1px #515151;
  display: block;
  outline: none;
  padding: 7px 0 7px 3px;
}

.sbOptions a:link, .sbOptions a:visited {
  color: #ddd;
  text-decoration: none;
}

.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus {
  color: #e7323b;
}

.sbOptions li.last a {
  border-bottom: none;
}

.sbOptions .sbDisabled {
  border-bottom: dotted 1px #515151;
  color: #999;
  display: block;
  padding: 7px 0 7px 3px;
}

.sbOptions .sbGroup {
  border-bottom: dotted 1px #515151;
  color: #EBB52D;
  display: block;
  font-weight: bold;
  padding: 7px 0 7px 3px;
}

.sbOptions .sbSub {
  padding-left: 17px;
}

@media only screen and (max-width: 600px) {
  .field-wrapper.checkbox,
  .checkbox .field-wrapper,
  .checkgroup .field-wrapper {
    margin-left: 24px;
  }

  .field-wrapper input[type=text], .field-wrapper input[type=file], .field-wrapper textarea, .field-wrapper label {
    width: 100%;
    display: block;
    padding-bottom: 8px;
  }

  .checkbox .field-wrapper label,
  .checkgroup .field-wrapper label {
    display: inline-block;
    text-indent: -20px;
  }

  .checkbox .main-label,
  .checkgroup .main-label,
  .checkbox label[for],
  .checkgroup label[for] {
    left: -24px;
    text-indent: 0;
  }

  .sbHolder {
    width: 100%;
  }

  .LV_validation_message.LV_invalid {
    float: right;
    display: inline-block;
    margin: -36px -21px 0 0;
  }
}
/*==========================
  New Forms
==========================*/
.max, .elq-field .field-wrap input[type=text], .elq-field .field-wrap input[type=submit], .elq-field .field-wrap textarea, .elq-field .field-wrap select {
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.elq-field {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.elq-field.indent {
  margin-left: 30%;
}
.elq-field.hidden, .elq-field.hidefield {
  display: none;
}
.elq-field.IsEmailAddressCondition .label label:after, .elq-field.IsRequiredCondition .label label:after {
  content: '*';
  color: red;
  font-size: 125%;
  line-height: 0;
}
.elq-field .message {
  background: #C3C3C3;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
  font-style: italic;
  color: white;
  padding: 0px 10px;
  position: relative;
}
.elq-field .message:before {
  content: '';
  border: 1px solid white;
  width: 0;
  height: 0;
  border-color: transparent transparent #C3C3C3 transparent;
  border-width: 0px 0px 11px 10px;
  position: absolute;
  top: -11px;
}
.elq-field.invalid .message.IsRequiredCondition {
  display: block !important;
}
.elq-field.invalid.custom .message.IsRequiredCondition {
  display: none !important;
}
.elq-field.invalid.custom .message.IsRequiredCondition.custom {
  display: block !important;
}
.elq-field.invalidemail .message.IsEmailAddressCondition {
  display: block !important;
}
.elq-field .field-wrap {
  display: inline-block;
  vertical-align: top;
  border-radius: 0px;
  border: solid 1px #999;
  font-size: 16px;
  color: #777;
  width: 30%;
  background: white;
}
.elq-field .field-wrap.label {
  border: none;
  background: none;
}
.elq-field .field-wrap.text {
  width: 70%;
}
.elq-field .field-wrap.file {
  width: 70%;
  padding: 0;
}
.elq-field .field-wrap.textArea {
  width: 70%;
}
.elq-field .field-wrap.select {
  width: 70%;
  padding: 0 0 0 5%;
}
.elq-field .field-wrap.select.selected-val {
  width: 100%;
  padding: 0;
  height: 35px;
  overflow: hidden;
}
.elq-field .field-wrap.group {
  width: 100%;
  border: none;
  background: none;
}
.elq-field .field-wrap.select.multi {
  width: 70%;
  padding: 0px 1px 0px 5%;
}
.elq-field .field-wrap input[type=text] {
  height: 38px;
  line-height: 40px;
  width: 90%;
  padding: 0 5%;
  max-width: 90%;
}
.elq-field .field-wrap input[type=submit] {
  background: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0;
  height: 20px;
  line-height: 18px;
}
.elq-field .field-wrap textarea {
  height: 73px;
  padding: 10px 5%;
  max-width: 90%;
  min-width: 90%;
}
.elq-field .field-wrap select {
  height: 38px;
}
.elq-field .field-wrap.multi select {
  height: 73px;
  padding: 10px 0;
}
.elq-field .field-wrap.in {
  height: 30px;
  border: none;
  width: 30px;
  background: none;
}
.elq-field .field-wrap.lbl {
  width: 82%;
  height: 0;
  border: none;
  background: none;
  line-height: 15px;
}
.elq-field .field-wrap.submit {
  background: red;
  border: none;
  width: 49%;
  padding: 0;
}
.elq-field .field-wrap.submit.reset {
  margin-left: 2%;
  background: #ccc;
}
.elq-field .option-list {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.elq-field.checkbox .checklist-option {
  border-top: 1px solid #ccc;
}
.elq-field .checklist-option {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: 0;
  margin-right: -1px;
}
.elq-field .checklist-option .field-wrap.in {
  
}
.elq-field .checklist-option .field-wrap.in {
  /*display: none;*/
  
    position: absolute;
    z-index: 1;
    margin-left: -4px;
    margin-top: -3px;
}
.elq-field .checklist-option .field-wrap.lbl {
  width: 100%;
  display:inline-block;
}
.elq-field .checklist-option label:before {
  display: inline-block;
  width: 20px;
  border: 1px dashed #ccc;
  height: 20px;
  margin-right: 10px;
  position: relative;
  content: " ";
  float: left;
  line-height: 19px;
  text-align: center;
  font-weight: bold;
  top: -2px;
  margin-left: -2px;
  background: none;
  padding: 0;
  margin-bottom: 0;
  
  /* donatas */
  border: 0px dashed transparent;
  height: 0px;
}
.elq-field .checklist-option:hover {
  background-color: rgba(237, 237, 237, 0.25);
}
.elq-field .checklist-option.selected {
  background-color: #ededed;
}
.elq-field .checklist-option.selected label:before {
  content: 'X';
  border: 1px solid #666;
  background: white;
  
  border: 1px solid transparent;
    color: transparent;   
    height: 0;
}
.elq-field.col-one .option-list {
  width: 100%;
}
.elq-field.col-two .option-list {
  width: 50%;
}
.elq-field.col-three .option-list {
  width: 33%;
}
.elq-field .option-wrap {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
.elq-field.checkList > .field-wrap.label, .elq-field.checkSelect > .field-wrap.label, .elq-field.radio > .field-wrap.label {
  width: 100%;
}
.elq-field.checkSelect .val {
  height: 36px;
  line-height: 35px;
  overflow: hidden;
  text-indent: 18px;
  margin-right: 45px;
  margin-left: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.elq-field.checkSelect .target-btn {
  background: url("select_arrow.png");
  height: 34px;
  position: relative;
  width: 38px;
  z-index: 1;
  float: right;
  margin-bottom: -34px;
  cursor: pointer;
}
.elq-field.checkSelect .option-wrap {
  margin-left: -1px;
  margin-right: -2px;
  margin-bottom: -1px;
  margin-top: 0;
}
.elq-field.group {
  margin-top: 20px;
  border-bottom: 2px solid #C3C2C2;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.elq-field.group label {
  font-weight: bold;
  font-size: 18px;
}
.elq-field input, .elq-field select, .elq-field textarea {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 16px;
  color: #777;
}
.elq-field [type=checkbox] {
  position: relative;
  border: none;
  background: none;
}
.elq-field [type=checkbox]:before, .elq-field [type=checkbox]:checked:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 0px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.elq-field [type=checkbox]:checked:after {
  content: '\2713';
  font-weight: bold;
  top: -8px;
  left: 4px;
  position: absolute;
  font-size: 18px;
}
.elq-field [type=radio] {
  position: relative;
  border: none;
  background: none;
  height: auto;
}
.elq-field [type=radio]:before, .elq-field [type=radio]:checked:before {
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.elq-field [type=radio]:checked:after {
  content: '\2713';
  top: -9px;
  left: 4px;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
}
.elq-field.tooltip.group .tooltip-hold:hover .tip-baloon {
  top: -7px;
}
.elq-field.tooltip .tooltip-hold:before {
  width: 25px;
  height: 25px;
  background: white;
  content: '?';
  border-radius: 100%;
  position: absolute;
  bottom: 11px;
  right: 18px;
  border: 1px solid #999;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 25px;
}
.elq-field.tooltip .tooltip-hold .tip-baloon {
  opacity: 0;
  display: none;
  position: absolute;
  right: -1000px;
  padding: 10px;
  background: #EFEFEF;
  border: 1px solid #CAC9C9;
  border-radius: 12px;
  max-width: 90%;
  z-index: 20;
  -webkit-transition: opacity 600ms ease-out;
  -moz-transition: opacity 600ms ease-out;
  -o-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
}
.elq-field.tooltip .tooltip-hold:hover .tip-baloon {
  display: block;
  opacity: 1;
  top: 2px;
  right: 18px;
}
.elq-field.checkbox .main-label, .elq-field.checkgroup .main-label, .elq-field.checkbox label[for], .elq-field.checkgroup label[for] {
  position: static;
}
.elq-field .sbHolder {
  width: auto;
  display: block;
  border: none;
}
.elq-field .sbSelector {
  display: block;
  height: 36px;
  left: 0;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  text-indent: 10px;
  top: 0;
  margin-right: 45px;
  margin-left: -11px;
  padding: 0;
  border: 0;
}
.elq-field .sbSelector:link, .elq-field .sbSelector:visited, .elq-field .sbSelector:hover {
  color: #666666;
  outline: none;
  text-decoration: none;
}
.elq-field .sbToggle {
  background: url("select_arrow.png");
  height: 34px;
  position: relative;
  width: 38px;
  z-index: 1;
  float: right;
  margin-bottom: -34px;
}
.elq-field .sbOptions {
  list-style: none !important;
  left: -1px;
  margin: 0;
  position: absolute;
  top: 0 !important;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  border-top: 1px dashed #666;
  padding: 10px 0 10px 0;
  position: relative;
  line-height: 20px;
}
.elq-field .sbOptions li {
  margin: 5px 0 0 0;
}
.elq-field .sbOptions a {
  display: block;
}
.elq-field .sbOptions a:link, .elq-field .sbOptions a:visited {
  color: #aeaeae;
  text-decoration: none;
}
.elq-field .sbOptions a:hover {
  color: #666;
}

.form-process {
  clear: both;
}
.form-process .progressive {
  position: relative;
  overflow: hidden;
}
.form-process .progressive-submit {
  margin-right: 120px;
  position: relative;
  z-index: 1;
}
.form-process .progressive-submit .prog-outer {
  border: 1px solid #CA0B0B;
}
.form-process .progressive-submit .field {
  vertical-align: top;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.form-process .progressive-submit #email {
  width: 100%;
  padding: 0;
  max-width: 100%;
  padding: 10px;
  padding: 10px;
  background-color: #94D7F0;
  border-radius: 0;
  color: #000000;
  font-size: 20px;
  border: none;
  height: 40px;
}
.form-process .progressive-submit #submit {
  width: 120px;
  text-align: center;
  margin-right: -120px;
  border-radius: 0;
  padding: 0;
  background-color: #1A94C4;
  text-transform: uppercase;
  padding-top: 5px;
  color: white;
  height: 40px;
  cursor: pointer;
}
.form-process .correction {
  display: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding-bottom: 5px;
}
.form-process ::-webkit-input-placeholder {
  color: white;
  font-style: italic;
}
.form-process :-moz-placeholder {
  /* Firefox 18- */
  color: white;
  font-style: italic;
}
.form-process ::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  font-style: italic;
}
.form-process :-ms-input-placeholder {
  color: white;
  font-style: italic;
}
.form-process.validate form-wrap {
  opacity: .5;
}
.form-process.invalid .submission, .form-process.error .submission {
  background-color: #E30513;
}
.form-process.send .submission .inner:before {
  font-family: 'FontAwesome';
  content: "\f021";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  font-size: 20px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.form-process.progressive-fields .form-wrap {
  opacity: 0;
  overflow: hidden;
  height: 0;
  margin-top: 15px;
}
.form-process form,
.form-process .form-disclaimer {
  overflow: hidden;
}
.form-process .submission {
  display: none;
  font-size: 15px;
  padding: 5px 0;
  text-align: center;
  background-color: #1A94C4;
  text-transform: uppercase;
  padding: 15px;
  color: white;
  -webkit-transition: background-color 600ms ease-out;
  -moz-transition: background-color 600ms ease-out;
  -o-transition: background-color 600ms ease-out;
  transition: background-color 600ms ease-out;
}
.form-process .submission .inside {
  overflow: hidden;
  position: relative;
}
.form-process .submission .inner {
  opacity: 1;
  -webkit-transition: opacity 600ms ease-out;
  -moz-transition: opacity 600ms ease-out;
  -o-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
}
.form-process .submission .inner.new {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
}
.form-process .proressive-wait {
  height: 40px;
  background-color: #1A94C4;
  position: absolute;
  z-index: 0;
  width: 120px;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-out;
  -moz-transition: opacity 100ms ease-out;
  -o-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out;
  color: white;
  font-size: 23px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.form-process .proressive-wait.active {
  z-index: 3;
  opacity: 1;
}
.form-process .proressive-wait .icon {
  margin-right: 10px;
  margin-left: 20px;
}

@media (max-width: 900px) {
  .elq-field .option-list {
    width: 50%;
  }
  .elq-field.col-one .option-list {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .elq-field {
    margin-bottom: 20px;
  }
  .elq-field.indent {
    margin-left: 0;
  }
  .elq-field .field-wrap {
    width: 100%;
  }
  .elq-field .field-wrap.select {
    width: 94%;
  }
  .elq-field .field-wrap.select.multi {
    width: 94%;
  }
  .elq-field .field-wrap.textArea {
    width: 94%;
  }
  .elq-field .field-wrap.text {
    width: 89%;
  }
  .elq-field .field-wrap.label {
    margin-bottom: 8px;
  }
  .elq-field .option-list {
    width: 100%;
  }
  .elq-field.col-two .option-list {
    width: 100%;
  }
}
.eloqua-success-message,
.eloqua-failure-message {
  display: none;
  font-size: 15px;
  padding: 5px 0;
  text-align: center;
  background-color: #1A94C4;
  text-transform: uppercase;
  padding: 15px;
  color: white;
  margin-bottom: 15px;
}

.eloqua-failure-message {
  background-color: #E30513;
}

.eloqua-imported[data-template-version="3"] .elq-field .option-wrap {
  border-top: 0;
}
.eloqua-imported[data-template-version="3"] .elq-field .checklist-option {
  padding: 0;
  border: 0;
}
.eloqua-imported[data-template-version="3"] .elq-field .checklist-option .inner {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: -1px;
}

/*# sourceMappingURL=eloqua-form.css.map */

.eloqua-imported .elq-field .checklist-option .field-wrap.lbl {   
    margin-left: 25px;
}
.form-process .elq-field .field-wrap.select {
    width: 69%;
    padding: 0 0 0 0;
}
